/* Common css */
.one-three {
    width: 33.3% 
    /* Can use flex: 1; instead of width: 33.3% */
}

/* Class and other css */
.navbar__container {
    height: 60px;
}

.navbar__wrapper {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar--left {
    display: flex;
    align-items: center;
}

.navbar--center {
    text-align: center;
}

.navbar--right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar__language {
    font-size: 14px;
    cursor: pointer;
}

.navbar__search-container {
    border: 0.5px solid lightgray;
    display: flex;
    align-items: center;
    margin-left: 50px;
    padding: 5px;
}

.navbar__search-input {
    border: none;
}

.navbar__logo {
    font-weight: normal;
    color: #000;
}

.navbar__menu-item {
    font-style: 14px;
    margin-left: 50px;
    cursor: pointer;
}

.homepage {
    text-decoration: none;
}

.link {
    text-decoration: none;
    color: rgb(0, 0, 0);
}